# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"

# next-auth secret
NEXTAUTH_SECRET=U/yakxGp102XnGjASBVeO4VFVPV91Q6XCYlMcHPCgaE=

# Auth0 credentials
CLIENT_ISSUER=https://dev-8wffzigk7hg1pdm6.au.auth0.com
CLIENT_ID=07P9aWxsvFpbInSlNkT6aHXw6354r2RY
CLIENT_SECRET=ResW-miunmkoVk_6X2gJcbTsr2X2dJxK7GzlceobOXP82tQtXYVJ0-YlJoMcEU7o