@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 114, 19, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 
html {
    background: #242435;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
    color: #333;
    width: 100vw;
    height: 100vh;
    color: #fff;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /* background: rgb(36,36,53);
    background: radial-gradient(circle, rgba(36,36,53,1) 15%, rgba(105,68,171,1) 28%, rgba(145,93,236,1) 28%, rgba(100,67,159,1) 39%, rgba(36,36,53,1) 71%);
    */
    
    background: rgb(53,32,63);
    background: radial-gradient(circle, rgba(53,32,63,1) 0%, rgba(17,23,41,1) 100%);
}

main {
    /* background-image: linear-gradient(to right top, #d9d9d950, #e2e2e250, #ececec50, #f5f5f550, #ffffff50); */
}

.bg-artvortex {
    background: rgb(252,125,255);
    background: linear-gradient(135deg, rgba(252,125,255,1) 0%, rgba(124,58,237,1) 80%);
}

.card-gradient {
    background: rgb(53,32,63);
    background: linear-gradient(180deg, rgb(255, 255, 255, 0) 0%, rgb(0, 0, 0, 0.5) 40%);
}

.disable {
    cursor: not-allowed;
    opacity: 0.5;
}